<app-character-filter (filterChange)="updateFilter($event)"></app-character-filter>
<app-paginator [pageInfo]="pageInfo$ | async" [page]="page" (pageChange)="updatePage($event)"></app-paginator>
<table class="table table-borderless table-striped table-hover" *ngIf="characterList$ | async as characters; else loading">
  <tbody>
    <tr *ngFor="let character of characters" (click)="goToDetails(character.id)">
      <td>{{character.name}}</td>
      <td>{{character.gender}}</td>
      <td>{{character.species}}</td>
    </tr>
  </tbody>
</table>
<ng-template #loading>{{(requestError$ | async) || 'Loading list'}}</ng-template>
